@model IEnumerable<FreneValue.Models.tronc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_eval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_tronc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_tronc_parnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dhp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diam_moy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.haut_moy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.morphlg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.racdmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cavt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fent_fissre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blesr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contaminatn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sympt_visuel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.possede_cime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_branch_maitr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.long_moy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catgr_branch_maitr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nb_branch_maitr)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.util)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cretn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_modf)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_eval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_tronc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_tronc_parnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dhp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diam_moy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.haut_moy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.morphlg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.racdmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cavt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fent_fissre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blesr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contaminatn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sympt_visuel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.possede_cime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_branch_maitr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.long_moy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catgr_branch_maitr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nb_branch_maitr)
        </td>
       
        @*<td>
            @Html.DisplayFor(modelItem => item.util)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cretn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_modf)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@

        <td>
            <div class="pull-right">
                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-edit", title = "Modifier" })
                &nbsp;
                &nbsp;
                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
            </div>
        </td>

    </tr>
}

</table>
