@model FreneValue.Models.loclsn
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Création d'une localisation</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table ">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.typ_loc, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.typ_loc, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.typ_loc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr>
                    <td>

                        @if (Model.typ_loc == "Voie de transport")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.nom_rue, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.nom_rue, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nom_rue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <p>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.tronc_rue, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.tronc_rue, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.tronc_rue, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </p>
                        }


                        @if (Model.typ_loc == "Cours d'eau")
                        {
                            <p>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.nom_cours_eau, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.nom_cours_eau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.nom_cours_eau, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </p>

                            <p>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.sectn_cours_eau, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.sectn_cours_eau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.sectn_cours_eau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </p>
                        }

                        @*<p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.emplcmt, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.emplcmt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.emplcmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.code_post, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.code_post, new { htmlAttributes = new { data_autocomplete = Url.Action("RechercherRapid", "Localisation"), @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.code_post, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>*@

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ville, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.ville, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ville, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.prov, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.prov, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.prov, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.pays, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.pays, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pays, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
  </td>
                    <td>
                     

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.lattd_a, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.lattd_a, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lattd_a, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.longtd_a, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.longtd_a, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.longtd_a, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.lattd_b, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.lattd_b, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lattd_b, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>


                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.longtd_b, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.longtd_b, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.longtd_b, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>


                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-lg-2">
                                    @Html.ActionLink(
                                    linkText: "Retour à la liste",
                                    actionName: "Index",
                                    controllerName: "Localisation",
                                    routeValues: null,
                                    htmlAttributes: new { @class = "btn btn-primary " })
                                </div>

                                <div class="col-lg-2 pull-right">
                                    <input type="submit" value="Enregistrer" class="btn  btn-primary" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
}

