@model FreneValue.Models.COD_DOM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COD_DOM</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_CRETN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CRETN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_MODF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_MODF)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la Liste", "Index")
        </div>
    }
</div>
