@using FreneValue.Helpers
@model PagedList<FreneValue.Models.code_dom>

@{
    ViewBag.Title = "Domaines de valeurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FreneValue.Helpers;
@using PagedList;
@using PagedList.Mvc;

<div class="container">

    <center>  <h3>  Gestion des domaines de valeurs  </h3> </center>


    @using (Html.BeginForm("index", "DomaineValeur", FormMethod.Get))
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="col-lg-2">
                    @Html.TextBox("code", "", new { @class = "form-control", @placeholder = "Code domaine" })
                    @*@Html.TextBox("name", "", new { @class = "css-class", @onclick = "alert('demo');" });*@
                </div>

                <div class="col-lg-1 pull-left">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>

                <div class="col-lg-4">
                    @Html.NoEncodeActionLink("Nouveau Code Domaine", "Add", "Create", "DomaineValeur", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
                </div>
            </div>
        </div>
    
        <table class="table table-bordered table-striped" id="RstRecherche">
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actif?
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descrip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.actif)
                    </td>

                    <td>
                        <div class="pull-right">
                            @Html.ActionLink(" ", "Edit", new { id = item.code }, new { @class = "glyphicon glyphicon-edit", title = "Modifier" })
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            @Html.ActionLink(" ", "Delete", new { id = item.code }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            @Html.NoEncodeActionLink("Valeurs", "Valeurs", "Index", "Valeur", routeValues: new { searchString = item.code }, htmlAttributes: new { })
                        </div>
                    </td>

                </tr>

            }

        </table>

        <div class="col-sm-10">
            <div class="center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}








