@model PagedList<FreneValue.Models.val_dom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<h4>Gestion des codes valeurs</h4>

<div align="right"> @Html.ActionLink("Ajouter une valeur", "Create") </div>

@*@using (Html.BeginForm("Index", "Valeur", FormMethod.Get))
{
    @Html.DropDownList("codedom", new SelectList(ViewBag.codedom))
    <input type="submit" value="Filtrer ici" />
}

<hr/>
<br />*@ 

@using (Ajax.BeginForm("Rechercher", "Valeur", new AjaxOptions{
                                               HttpMethod = "GET",
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "RstRecherche"

                     }))
{
    <input type="text" name="q" data-autocomplete="@Url.Action("RechercherRapid", "Valeur")" />
    <input type="submit" value="Rechercher"  />
}

   <table class="table table-bordered table-striped" id="RstRecherche">
    <tr>
        <th>
            Domaine
        </th>
        <th>
            Code valeur
        </th>
        <th>
           Valeur
        </th>
        <th>
           Description
        </th>
        <th>
           Actif
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.code_dom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actif)
            </td>

            <td>
                <div class="pull-right">

                    @Html.ActionLink(" ", "Edit",  new { id = item.id }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
                    &nbsp;
                    &nbsp;
                    @Html.ActionLink(" ", "Delete",  new { id = item.id }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
                </div>
            </td>

           
        </tr>
        }

</table>

<div class="col-sm-10">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("Index",
           new { page, pageSize = Model.PageSize }))
        Affichage de @Model.FirstItemOnPage  à @Model.LastItemOnPage
        des @Model.TotalItemCount enregistrements
    </div>
</div>
