@model FreneValue.Models.VAL_DOM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>



<div>
    <h4>VAL_DOM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_DOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_DOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_VAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_VAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_CRETN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CRETN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_MODF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_MODF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
