@using FreneValue.Helpers
@model IEnumerable<FreneValue.Models.eval_abr>

@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h4>Historique des évaluations</h4>

<p>
    @Html.ActionLink("Créer évaluation", "Create", "EvalAbr")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_arbre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_evalteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_eval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dhp_tot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clas_haut)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.nb_tronc)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.branch_maitr)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_arbre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_evalteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dt_eval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dhp_tot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clas_haut)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nb_tronc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.branch_maitr)
            </td>

            @*<td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                </td>*@

            @*<a href="@Url.Action("Action", "Controller")" class="btn btn-warning">
                    link text
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>*@

            <td>
                <div class="pull-right">

                    @Html.ActionLink(" ", "Eval", "EvalAbr", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
                    &nbsp;
                    &nbsp;
                    @Html.ActionLink(" ", "Delete", "EvalAbr", new { id = item.id }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
                </div>
            </td>

            @*<td>
                <div class="pull-right">
                  
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Modifier", "Edit", "EvalAbr", routeValues: new { id = item.id })
                    &nbsp;
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Supprimer", "Delete", "EvalAbr", routeValues: new { id = item.id })

                    @*public static MvcHtmlString NoEncodeActionLink(this HtmlHelper htmlHelper,
                        string text, string title, string action,
                        string controller,
                        object routeValues = null,
                        object htmlAttributes = null)

                </div>
            </td>*@

        </tr>
    }

</table>

