@model FreneValue.Models.tronc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tronc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_eval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_eval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_tronc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_tronc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_tronc_parnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_tronc_parnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dhp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dhp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diam_moy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diam_moy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.haut_moy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.haut_moy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.morphlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.morphlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.racdmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.racdmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cavt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cavt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fent_fissre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fent_fissre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blesr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blesr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contaminatn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contaminatn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sympt_visuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sympt_visuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.possede_cime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.possede_cime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_branch_maitr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est_branch_maitr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.long_moy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.long_moy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catgr_branch_maitr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catgr_branch_maitr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_branch_maitr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_branch_maitr)
        </dd>
     
        <dt>
            @Html.DisplayNameFor(model => model.util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cretn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cretn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
