@using FreneValue.Helpers
@model FreneValue.Models.eval_abr
@{
    ViewBag.Title = "Edit";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="right">
    @if (!(bool)ViewBag.nbTroncAtteind)
    {
        @Html.NoEncodeActionLink("Créer Tronc", "Add", "Create", "Tronc", routeValues: new { id_eval = Model.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
    }

    @if ((bool)ViewBag.SoucheNotExiste)
    {
        @Html.NoEncodeActionLink("Créer Souche", "Add", "Create", "Souche", routeValues: new { id_eval = Model.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
    }
</div>

@using (Html.BeginForm("Profil", "EvalAbr"))
{
    @Html.AntiForgeryToken()

    // Appeler les deux liens ci-dessus en modal si possible, voir dans la création des codes valeurs

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.id_arbre)        @*Affecter automatique id_arbre dans l'ActionResult lors de la création*@
        <table class="table ">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_evalteur, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.id_evalteur, ViewBag.profilUtil.Items as List<SelectListItem>, new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.id_evalteur, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dhp_tot, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.dhp_tot, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dhp_tot, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.dt_eval, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.dt_eval, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.dt_eval, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.clas_haut, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.DropDownListFor(model => model.clas_haut, new SelectList(ViewBag.CLASSE_HAUTEUR), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.clas_haut, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            @*<p>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.branch_maitr, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.branch_maitr)
                                                @Html.ValidationMessageFor(model => model.branch_maitr, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </p>*@
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nb_tronc, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.nb_tronc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nb_tronc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>

                            <div class="form-group">
                                @Html.LabelFor(model => model.racdmt, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.racdmt, new SelectList(ViewBag.RACCORDEMENT), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.racdmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.intfrce, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.intfrce, new SelectList(ViewBag.INTERFERENCES), new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.intfrce, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.acesbt_cam, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.acesbt_cam, new SelectList(ViewBag.ACCES_CAMION), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.acesbt_cam, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.acesbt_manu, htmlAttributes: new { @class = "control-label col-md-4" })

                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.acesbt_manu, new SelectList(ViewBag.ACCES_MANUTENTION), new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.acesbt_manu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.contrnt_transp, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.contrnt_transp, new SelectList(ViewBag.CONTRAINTE_TRANSP), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.contrnt_transp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.acesbt_machn, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.acesbt_machn, new SelectList(ViewBag.ACCES_MACHINERIE), new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.acesbt_machn, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.obstcl_sol, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.obstcl_sol, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.obstcl_sol, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.obstcl_sol, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.obstcl_sol)
                                    @Html.ValidationMessageFor(model => model.obstcl_sol, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.constrct, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.constrct, new SelectList(ViewBag.CONSTRUCTION), new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.constrct, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.infrstr_urbn, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.infrstr_urbn, new SelectList(ViewBag.INFRS_URBAINE), new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.infrstr_urbn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.typ_abatg, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">                                
                                @Html.EditorFor(model => model.typ_abatg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.action, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">                                
                                @Html.EditorFor(model => model.action, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.concl, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">                                
                                @Html.EditorFor(model => model.concl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-lg-2">
                                    @*@Html.ActionLink("Retour Inventaire", "Index", "Arbre", htmlAttributes: new { @class = "btn btn-primary " })*@
                                    @Html.ActionLink(
                                    linkText: "Retour Inventaire",
                                    actionName: "Index",
                                    controllerName: "Arbre",
                                    routeValues: null,
                                    htmlAttributes: new { @class = "btn btn-primary " }  )
                                </div>

                                <div class="col-lg-2 pull-right">
                                    <input type="submit" value="Enregistrer" class="btn  btn-primary" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
}





