@using FreneValue.Helpers
@model FreneValue.Models.eval_abr
@{
    ViewBag.Title = "Edit";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Profil", "EvalAbr"))
{
    @Html.AntiForgeryToken()

    @*<div align="right">
            @Html.ActionLink("Créer Tronc", "Create", "Tronc", new { id_eval = Model.id })
            @Html.ActionLink("Créer Souche", "Create", "Souche", new { id_eval = Model.id })
        </div>*@

    <div align="right">
        @Html.NoEncodeActionLink("Créer Tronc", "Add", "Create", "Tronc", routeValues: new { id_eval = Model.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
        @if ((bool)ViewBag.SoucheNotExiste)
        {
            @Html.NoEncodeActionLink("Créer Souche", "Add", "Create", "Souche", routeValues: new { id_eval = Model.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
        }
    </div>


    // Appeler les deux liens ci-dessus en modal si possible, voir dans la création des codes valeurs

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.id_arbre)        @*Affecter automatique id_arbre dans l'ActionResult lors de la création*@
        <table class="table ">
            <tbody>
                <tr>
                    <td>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.id_evalteur, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.id_evalteur, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.id_evalteur, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_evalteur, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.id_evalteur, ViewBag.profilUtil.Items as List<SelectListItem>, new { @class = "form-control  " })
                                @Html.ValidationMessageFor(model => model.id_evalteur, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.branch_maitr, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.branch_maitr)
                                            @Html.ValidationMessageFor(model => model.branch_maitr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dhp_tot, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.dhp_tot, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dhp_tot, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        </p>

                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.dt_eval, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.dt_eval, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.dt_eval, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.clas_haut, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.DropDownListFor(model => model.clas_haut, new SelectList(ViewBag.CLASSE_HAUTEUR), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.clas_haut, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nb_tronc, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.nb_tronc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nb_tronc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.racdmt, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.racdmt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.racdmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>

                </tr>
                @*<tr>
                        <th colspan="3" style="color:blue"><u>  Environnement et contraintes </u>   </th>
                    </tr>*@
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.intfrce, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.intfrce, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.intfrce, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.acesbt_cam, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.acesbt_cam, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.acesbt_cam, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.acesbt_manu, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.acesbt_manu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.acesbt_manu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.contrnt_transp, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.contrnt_transp, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.contrnt_transp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.acesbt_machn, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.acesbt_machn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.acesbt_machn, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                </tr>
                @*<tr>
                        <th colspan="3" style="color:blue"><u>  Contrainte d'abattage  </u>   </th>
                    </tr>*@
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.obstcl_sol, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.obstcl_sol, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.obstcl_sol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.constrct, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.constrct, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.constrct, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.infrstr_urbn, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.infrstr_urbn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.infrstr_urbn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.typ_abatg, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.typ_abatg, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.typ_abatg, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.action, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.action, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.action, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.concl, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.concl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.concl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.util, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.util, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.util, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    Affecter automatiquement l'utilisateur dans l'Actionresult
                *@
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Enregistrer" class="btn  btn-primary" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
<div>
    @Html.ActionLink("Retour", "Index", "Arbre")
    @*@Html.ActionLink("LinkName", "ActionName", "ControllerName", new { @id = idValue, @secondParam= = 2 }, new { @class = "btn btn-info", @target = "_blank" })*@
</div>
