@model FreneValue.Models.souche
@{
    ViewBag.Title = "Edit";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Souche", "EvalAbr"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <table class="table ">           
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_eval, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.id_eval, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })                               
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dhs, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.dhs, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dhs, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.acces_nutrmt, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.acces_nutrmt, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Liste non trouvée.." } })
                                    @Html.ValidationMessageFor(model => model.acces_nutrmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.aeration_sol, htmlAttributes: new { @class = "control-label col-md-4" }) 
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.aeration_sol, new SelectList(ViewBag.AERATION_SOL), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.aeration_sol, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.surf_deplmt_racin, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.surf_deplmt_racin, new SelectList(ViewBag.SURF_DEPLOY_RACIN), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.surf_deplmt_racin, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>                           
                        </p>
                        <p>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.racine_hs)
                                        @Html.LabelFor(model => model.racine_hs)
                                        @Html.ValidationMessageFor(model => model.racine_hs, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.blesre_racine, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.blesre_racine, new { htmlAttributes = new { @class = "form-control"} }) 
                                @Html.ValidationMessageFor(model => model.blesre_racine, "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                        <p>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.cavite_au_collet)
                                        @Html.LabelFor(model => model.cavite_au_collet)
                                        @Html.ValidationMessageFor(model => model.cavite_au_collet, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.exig_essouchmt, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">                                    
                                    @Html.DropDownListFor(model => model.exig_essouchmt, new SelectList(ViewBag.EXIGENCE_ESSOUCHMT), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.exig_essouchmt, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.typ_essouchmt, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">                                   
                                    @Html.DropDownListFor(model => model.typ_essouchmt, new SelectList(ViewBag.TYPE_ESSOUCHMT), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.typ_essouchmt, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.profdeur_essouchmt, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.profdeur_essouchmt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.profdeur_essouchmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ray_rognage, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ray_rognage, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ray_rognage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.defaut, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.defaut, new { htmlAttributes = new { @class = "form-control",@Placeholder = "Liste non trouvée.."} })
                                @Html.ValidationMessageFor(model => model.defaut, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.infrstr, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">                                    
                                    @Html.DropDownListFor(model => model.infrstr, new SelectList(ViewBag.INFRASTR_SOUCH), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.infrstr, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.specificite, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">                                   
                                    @Html.DropDownListFor(model => model.specificite, new SelectList(ViewBag.SPECIFICITE), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.specificite, "", new { @class = "text-danger" })
                                    
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.haut_souche, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.haut_souche, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.haut_souche, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.exig_abat, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">                                    
                                    @Html.DropDownListFor(model => model.exig_abat, new SelectList(ViewBag.EXIGENCE_ESSOUCHMT), new { @class = "form-control  " })
                                    @Html.ValidationMessageFor(model => model.exig_abat, "", new { @class = "text-danger" })
                                    
                                </div>
                            </div>
                        </p>
                       <p>                           
                         
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.espace_subs)
                                        @Html.LabelFor(model => model.espace_subs)
                                        @Html.ValidationMessageFor(model => model.espace_subs, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </p>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.fosse_plant)
                                    @Html.LabelFor(model => model.fosse_plant)
                                    @Html.ValidationMessageFor(model => model.fosse_plant, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-lg-2">
                                    @Html.ActionLink(
                                    linkText: "Retour Inventaire",
                                    actionName: "Index",
                                    controllerName: "Arbre",
                                    routeValues: null,
                                    htmlAttributes: new { @class = "btn btn-primary " })
                                </div>

                                <div class="col-lg-2 pull-right">
                                    <input type="submit" value="Enregistrer" class="btn  btn-primary" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
}

