
@{
    ViewBag.Title = "Détail Évaluation";
    string activeTab = ViewBag.ActiveTab;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="form-horizontal">
        <div class="col-lg-1" align="right">
            @Html.Label("Numarbre", "N° arbre:")
        </div>
        <div class="col-lg-2">
            @Html.TextBox("Numarbre", (string)ViewBag.arbre.num_arbre, new { @class = "form-control" })
        </div>
        <div class="col-lg-1" align="right">
            @Html.Label("ess", "Essence:")
        </div>
        <div class="col-lg-2">
            @Html.TextBox("ess", (string)ViewBag.arbre.ess, new { @class = "form-control" })
        </div>
        <div class="col-lg-1">
            @Html.Label("Propro", "Propriétaire:")
        </div>
        <div class="col-lg-2">
            @Html.TextBox("Propro", (string)ViewBag.profilUtil, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <hr />
</div>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" id="link-profil" href="#_Profil"> Profil </a>
        </li>

        @if (ViewBag.nb_tronc > 1)
        {
            for (var i = 0; i <= ViewBag.nb_tronc - 1; i++)
            {
                var j = i + 1;
                <li><a href="#tronc-@j " id="tronc-@j" data-toggle="tab">tronc-@j </a></li>
            }
        }

        @if (ViewBag.nb_tronc == 1 || ViewBag.nb_tronc == 0)
        {
            <li>
                <a data-toggle="tab" id="link-tronc" href="#_tronc"> Tronc </a>
            </li>
        }


        <li>
            <a data-toggle="tab" id="link-souche" href="#_souche"> Souche</a>
        </li>
    </ul>

    <div class="products-body">
        <div class="tab-content">
            <div id="_Profil" class="tab-pane active fade in">
                @{Html.RenderAction("Profil", new { id = ViewBag.id_eval });}
            </div>
            <div id="_souche" class="tab-pane fade">
                @{Html.RenderAction("Souche", new { id = ViewBag.id_souche });}
            </div>
            @if (ViewBag.nb_tronc > 1)
            {
                

                for (var i = 0; i <= ViewBag.nb_tronc - 1; i++)
                {
                    var j = i + 1;
                    <div class="tab-pane fade in (i == 0 ? " active" : string.Empty)" id="tronc-@j">
                        @{Html.RenderAction("Tronc", new { id = ViewBag.List_id_tronc[@i].id });}

                    </div>
                            }

                            }

            @if (ViewBag.nb_tronc == 1)
            {
                <div id="_tronc" class="tab-pane fade">
                    @{Html.RenderAction("Tronc", new { id = ViewBag.List_id_tronc[0].id });}
                </div>
                        }
            @if (ViewBag.nb_tronc == 0)
            {
                <div id="_tronc" class="tab-pane fade">

                </div>
            }
        </div>
    </div>
</div>
