@model FreneValue.Models.ARBRE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TOTO</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.NUM_ARBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_ARBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_PROFIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PROFIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_LOCAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_LOCAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP_EMPLCMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP_EMPLCMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORIENTATN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORIENTATN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DHP_TOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DHP_TOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAS_HAUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAS_HAUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTFRCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTFRCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RACDMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RACDMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACESBT_MANU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACESBT_MANU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACESBT_MACHN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACESBT_MACHN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACESBT_CAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACESBT_CAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRNT_TRANSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRNT_TRANSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBSTCL_SOL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSTCL_SOL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONSTRCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONSTRCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFRSTR_URBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFRSTR_URBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP_ABATG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP_ABATG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NB_TRONC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NB_TRONC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH_MAITR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH_MAITR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LATTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LATTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONGTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_CRETN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CRETN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_MODF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_MODF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
