@model IEnumerable<FreneValue.Models.ARBRE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des arbres</h2>

<p>
    @Html.ActionLink("Créer un arbre", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUM_ARBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PROFIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_LOCAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYP_EMPLCMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORIENTATN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DHP_TOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLAS_HAUT)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.INTFRCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RACDMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACESBT_MANU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACESBT_MACHN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACESBT_CAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRNT_TRANSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBSTCL_SOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONSTRCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INFRSTR_URBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYP_ABATG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NB_TRONC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_MAITR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LATTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LONGTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UTIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_CRETN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_MODF)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_ARBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PROFIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LOCAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYP_EMPLCMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORIENTATN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DHP_TOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLAS_HAUT)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.INTFRCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RACDMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACESBT_MANU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACESBT_MACHN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACESBT_CAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRNT_TRANSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBSTCL_SOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONSTRCT)   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INFRSTR_URBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYP_ABATG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NB_TRONC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_MAITR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LATTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LONGTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UTIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_CRETN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_MODF)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            @Html.ActionLink(linkText: "Onglets", actionName: "Index", controllerName: "Arbre", routeValues: new { id_arb = item.ID }, htmlAttributes: null)


        </td>
    </tr>
}

</table>
