
@model FreneValue.Models.ARBRE

@{
    ViewBag.Title = "Modification";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>TOTO</h4>
            <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <table class="table ">
            <tr>
                <th colspan="3" style="color:blue"> Information profil </th>
            </tr>
            <tr></tr>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NUM_ARBRE, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NUM_ARBRE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NUM_ARBRE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DHP_TOT, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.DHP_TOT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DHP_TOT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </p>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RACDMT, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.RACDMT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RACDMT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ESS, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.ESS, new SelectList(ViewBag.ESSENCE), new { @class = "form-control  " })
                                        @Html.ValidationMessageFor(model => model.ESS, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                            <p>
                                <div class="form-group">
                                        @Html.LabelFor(model => model.CLAS_HAUT, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.CLAS_HAUT, new SelectList(ViewBag.CLASSE_HAUTEUR), new { @class = "form-control  " })
                                            @Html.ValidationMessageFor(model => model.CLAS_HAUT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.CLAS_HAUT, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.CLAS_HAUT, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CLAS_HAUT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                            </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NB_TRONC, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NB_TRONC, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NB_TRONC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BRANCH_MAITR, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.BRANCH_MAITR, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BRANCH_MAITR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                </tr>

            </tbody>
        </table>



        <table class="table">
            <tr>
                <th colspan="3" style="color:blue"> Localisation </th>
            </tr>
            <tr></tr>
            <tbody>
                <tr>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TYP_EMPLCMT, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TYP_EMPLCMT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TYP_EMPLCMT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ORIENTATN, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ORIENTATN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ORIENTATN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                    </td>

                    <td colspan=2>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_LOCAL, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ID_LOCAL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ID_LOCAL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p style="padding-top: 5px;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LATTD, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.LATTD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LATTD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                    </td>
                    <td>
                        <p>
                            <div>ddf </div>
                        </p>
                        <p style="padding-top: 5px;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LONGTD, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.LONGTD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LONGTD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                </tr>


            </tbody>
        </table>

        <table class="table">
            <tr>
                <th colspan="3" style="color:blue"> Environnement et contraintes</th>
            </tr>
            <tr></tr>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.INTFRCE, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.INTFRCE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.INTFRCE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ACESBT_CAM, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ACESBT_CAM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ACESBT_CAM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>

                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACESBT_MANU, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ACESBT_MANU, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ACESBT_MANU, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CONTRNT_TRANSP, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CONTRNT_TRANSP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CONTRNT_TRANSP, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACESBT_MACHN, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ACESBT_MACHN, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ACESBT_MACHN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>

                </tr>


            </tbody>
        </table>


        <table class="table">
            <tr>
                <th colspan="3" style="color:blue"> contraintes d'abbatage </th>
            </tr>
            <tr></tr>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OBSTCL_SOL, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.OBSTCL_SOL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OBSTCL_SOL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TYP_ABATG, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-15">
                                    @Html.EditorFor(model => model.TYP_ABATG, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TYP_ABATG, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </p>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CONSTRCT, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CONSTRCT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CONSTRCT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.INFRSTR_URBN, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.INFRSTR_URBN, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.INFRSTR_URBN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <table class="table">
            <tr>
                <th colspan="3" style="color:blue"> Autres Informations</th>
            </tr>
            <tr></tr>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_PROFIL, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ID_PROFIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ID_PROFIL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.COMM, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.COMM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.COMM, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UTIL, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.UTIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UTIL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-10 col-md-5">
                <input type="submit" value="Save" class="btn btn-primary btn-md  " />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la Liste", "Index")
</div>

