@model FreneValue.Models.cime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_tronc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_tronc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.racdmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.racdmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dens_brach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dens_brach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dens_feuille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dens_feuille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dens_rameaux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dens_rameaux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sympt_visuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sympt_visuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defaut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defaut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intfrce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intfrce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.travaux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travaux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cretn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cretn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
